body{
    background-color: whitesmoke ;
    /*width: 100%;
    max-width: 2000px;*/
    font-family:  Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
   /* max-width: 2000px;*/
    min-height: 160px;
    margin: 0 auto;
    background: linear-gradient(
        to top,
        #fff3ea 0%,
        #fff3ea 75%,
        #501c65 75%,
        #501c65 100%
    );
}
.nav-header{
    width: 100%;
   /* max-width: 2000px;*/
    min-height: 160px;
    margin: 0 auto;
    background: linear-gradient(
        to top,
        #fff3ea 0%,
        #fff3ea 75%,
        #501c65 75%,
        #501c65 100%
    );
}
.navbar{
    width: 100%;
    /*max-width: 2000px;*/
    height:120px;
    padding: 25px;
    background: linear-gradient(
        to top,
        #fff3ea 0%,
        #fff3ea 75%,
        #501c65 75%,
        #501c65 100%
    );
    overflow: hidden;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar a{
    display: flex;
    float: left;
    padding: 12px;
    margin-left: 30px;
    margin-top: 30px;
    color: black;
    text-decoration: none;
    font-size: 25px;
    /*maybe add width: 20%;*/
    text-align: center;
}
.navbar a.active{
    color: #501c65;
    font-size: 40px;
    font-family:  "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}
button{
    background-color: #501c65;
    color: #fff3ea;
    font-family:  "Quattrocento Sans", sans-serif;
    padding: 8px;
}
.btn-nav{
    width:100%;
    max-width: 180px;
    min-height: 90px;
    border: none;
    font-weight:300;
    font-size: 26px;
    position: relative;
    top:22px;
}
.fa-solid{
    margin-right: 10px;
    font-size: 34px;
}
button:hover{
    background-color:#8e2563;
    color: #fff3ea;
} 
.header-image{
    width: 100%;
    /*max-width: 2000px;*/
    height: 600px;
    background-image: url(../images/candles-contact.png);
    background-size: cover;
    background-position: center;
} 
/*
.contact-pic{
    width: 100%;
    height: 600px;
    object-fit: cover;
}*/
.contact-main{
    width: 100%;
    /*max-width: 2000px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.contact-title{
    font-size: 50px;
    font-family: "Playfair Display", serif;
    color: #501c65;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}
.main-form{
    box-sizing: border-box;
    width: 100%;
    max-width: 700px;
    min-height: 300px;
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 38px;
    color: #501c65;
    display: flex;
    flex-direction: column;
}
.input-field,.textarea, .select{
    font-size: 18px;
    border-color: #501c65;
    border-width: 2px;
    border-radius: 5px;
    width: 100%;
    max-width: 610px;
    padding: 10px;
    background-color: #fff3ea;
}
.input-field:focus, .textarea:focus, .select:focus, 
.checkbox-custom:focus{
    background-color:#fff7ea;
    border-color: white;
    border-width: 2px;
    border-radius:10px;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-form{
    width:100%;
    max-width: 170px;
    min-height: 70px;
    border: none;
    font-weight:300;
    font-size: 19px;
}
.btn-form:focus{
    background-color: #b05189;
    border-radius: 5px;
    padding: 5px;
}
.input-field{
    margin-bottom: 10px;
}
.select{
    cursor: pointer;
    width: 100%;
    max-width: 635px;
    margin-bottom: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.textarea{
    resize: none;
    border-radius: 10px;
    padding:10px;
}
.input-field:hover, .textarea:hover, select:hover{
    border-color: #b8528a;
}
.checkbox-wrap{
    position: relative;
    margin-top: 15px;
}
.check-text{
    margin-left: 35px;
}
.checkbox-label input{
    position:absolute;
    opacity: 0;
    cursor: pointer;
}
.checkbox-label .checkbox-custom{
    position: absolute;
    top: 0px;
    left: 2px;
    height: 25px;
    width: 25px;
    background-color: #fff3ea;
    border-radius: 5px;
    border: 2px solid #501c65;
}
.checkbox-label .checkbox-custom::after{
    position: absolute;
    content: "";
    left: 24px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid transparent;
    border-width: 0 3px 3px 0;
    transform: rotate(0deg)scale(0deg);
    opacity: 1;
}
.checkbox-label input:checked~ .checkbox-custom{
    background-color: #fff3ea;
    border-radius: 5px;
    transform: rotate(0deg)scale(0deg);
    opacity: 1;
    border: 2px solid #501c65;
}
.checkbox-label input:checked~ .checkbox-custom::after{
    transform: rotate(45deg)scale(1);
    opacity: 1;
    left: 7px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid #501c65;
    border-width: 0 2px 2px 0;
    background-color: #fff3ea;
    border-radius: 0;
} 
.main-map{
    display: flex;
    flex-direction: column;
    align-self: center;
    
}
.title-map{
    font-size: 35px;
    color: #501c65;
    font-family:"Playfair Display", serif;
    font-weight: 550;
}
.map-image{
    width:800px; 
    height:450px;
    border-style: solid;
    border-width: 25px;
    border-color: #fff3ea;  
}
footer{
    width: 100%;
    min-height: 400px;
    margin: 0 auto;
    background: linear-gradient(
        to bottom,
        #501c65 0%,
        #501c65 85%,
        #fff3ea 85%,
        #fff3ea 100%
    );
}
.main-footer{
   /* width: 100%; 
    /*max-width: 2000px;*/
    min-height: 400px;
    margin: 0 auto;
    background: linear-gradient(
        to bottom,
        #501c65 0%,
        #501c65 90%,
        #fff3ea 90%,
        #fff3ea 100%
    );
    color: #fff3ea;
    padding: 10px;
    display: flex; 
    align-items: center;
    justify-content:space-around;
} 
.fnav{
    list-style-type: none;
    font-size: 30px;
    line-height: 2.5;
    margin-bottom: 40px;
    position: relative;
    bottom: 20px;
} 
.fnav>li>a{
    text-decoration: none;
    color: #fff3ea;
}
.footer-map{
    position: relative;
    bottom: 20px;
    font-weight: 450;
    font-size: 18px;
}
.fmap-img{
    width:250px; 
    height:150px;
    filter: grayscale(60%); 
    border: 2px solid  #fff3ea;
}
.fmap-img:hover{
    border: 3px solid #b05189;
}
.fmap-title{
    font-family:"Playfair Display", serif;
    font-size: 28px;
}
.footer-form{
    font-size: 18px;
    margin-right: 20px;
    position: relative;
    bottom:30px
    
}
.input-footer, .input-footer-n{
    font-size: 19px;
    border: 1px solid #8e2563;
    width: 100%;
    max-width: 220px;
    height: 41px;
    background-color: #fff3ea;
}
.input-footer-n{
    float: left;
    margin-top: 15px;
}
.input-footer:focus, .input-footer-n:focus{
    background-color:#f4e9f9;
    border: 1px solid #501c65;
    padding:2px;
}
.input-footer:hover, .input-footer-n:hover{
    border-color: #fff3ea;
}
.btn-news{
    border: 1px solid #8e2563 ;
    background-color: #621c65;
    height: 45px;
    width: 100px;
    font-weight:100;
    font-size: 17px;
    float: left;
    margin-top: 15px;
}
.newsletter-main{
    margin-bottom: 40px;
    
}
.login-main{
    margin-top: 20px;
    line-height: 3;
}
.btn-login{
    border: 1px solid #8e2563;
    background-color: #621c65;
    width: 100px;
    height: 50px;
    margin-top: 20px;
    margin-left: 50px;
}
.footer-envelope{
    height: 15px;
    width: 15px;
    fill: #fff3ea;
}

