body{
    background-color: whitesmoke ;
    width: 100%;
}
/*may not need it 
header{
    width: 100%;
    max-width: 2000px;
    min-height: 160px;
    margin: 0 auto;
    background: linear-gradient(
        to top,
        #fff3ea 0%,
        #fff3ea 75%,
        #501c65 75%,
        #501c65 100%
    );
}*/
.nav-header{
    width: 100%;
    max-width: 2000px;
    min-height: 160px;
    margin: 0 auto;
    background: linear-gradient(
        to top,
        #fff3ea 0%,
        #fff3ea 75%,
        #501c65 75%,
        #501c65 100%
    );
}
.navbar{
    width: 100%;
    height:120px;
    padding: 25px;
    background: linear-gradient(
        to top,
        #fff3ea 0%,
        #fff3ea 75%,
        #501c65 75%,
        #501c65 100%
    );
    overflow: hidden;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar a{
    display: flex;
    float: left;
    padding: 12px;
    margin-left: 30px;
    margin-top: 30px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family:  Arial, Helvetica, sans-serif;
    /*maybe add width: 20%;*/
    text-align: center;
}
.navbar a.active{
    color: #501c65;
    font-size: 40px;
    font-family:  "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}
button{
    background-color: #501c65;
    color: #fff3ea;
    font-family:  "Quattrocento Sans", sans-serif;
    padding: 10px;
}
.btn-nav{
    width:100%;
    max-width: 200px;
    min-height: 90px;
    border: none;
    font-weight:300;
    font-size: 30px;
    position: relative;
    top:22px;
}
.fa-solid{
    margin-right: 10px;
    font-size: 34px;
}
button:hover{
    background-color:#8e2563;
    color: #fff3ea;
} 
.header-image{
    width: 100%;
    max-width: 2000px;
    height: 600px;
    background-image: url(../images/candles-contact.png);
    background-size: cover;
    background-position: center;
} 
/*
.contact-pic{
    width: 100%;
    height: 600px;
    object-fit: cover;
}*/
.contact-main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.contact-title{
    font-size: 50px;
    font-family: "Playfair Display", serif;
    color: #501c65;
    text-align: center;
}
.main-form{
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    min-height: 200px;
    padding: 20px;
    font-size: 18px;
    line-height: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.main-map{
    display: flex;
}
.main-footer{
    width: 100%;
    max-width: 2000px;
    min-height: 300px;
    margin: 0 auto;
    background: linear-gradient(
        to bottom,
        #fff3ea 0%,
        #fff3ea 80%,
        #501c65 80%,
        #501c65 100%
    );
}