* {
    margin: 0;
    padding: 0;
}

body {
     width: 100%; 
    height: 300vh;
    background-color: whitesmoke;
    
}

header {
    position: relative;
    width: 100%;
    
}

.top {
    background:  #501c65;
    padding: 10px;
}    

.scroll-msg {
    color: bisque;
    font-family: "Dancing Script";
    font-style: italic;
    font-weight:bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-10%);
    animation: scroll 35s infinite linear;
}


@keyframes scroll {
    from {
        transform: translateX(50%);
    }
    to {
        transform: translateX(-20%);
    }
}

.navbar ul { 
    display: flex;  
    justify-content: space-between;
    list-style: none;  
    
} 
 
.navbar .menulist a {
    
    display: block;  
    text-transform:uppercase;
    font-family: "Montserrat", sans-serif; 
    text-decoration: none;
    font-weight: bold; 
    /* padding-top:38px;  */
    font-size: 1.2em;
    transition: .3s;
    color: rgb(18, 18, 145);
}   
.navbar .menulist li a:hover {
    color: #8e2563;
}

.navbar { 
    position: relative;
    max-width: 960px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items:center;
}
nav { 
    background:  #f6e6db;
    position: relative;
    padding: 35px 0;
    z-index: 10;
   
} 

.text-logo { 
    position: absolute;
    margin-top:3px;
    left: 34%; 
    text-decoration: none;
    font-family:  "Playfair Display", serif;
    color: #501c65; /* Diferent then in #OurProduct.css*/
    text-transform: uppercase;
    font-weight: 400;
    font-weight: bold;
    font-size: 48px;;   
}

nav ul {
    width: 100%;
    transition: .3s;
}
 
nav ul li:nth-child(2) {
    margin-left:40px; 
    margin-right: px;
} 

nav ul li:nth-child(3) {
     margin-left: 280px; 
} 


.text-logo:hover {
    color: #8e2563;
    cursor: pointer;
}
   
button {
    position:absolute;
    display: block;
    background-color: #501c65;
    color: #f6e6db;
    width: 140px;
    max-width: 100%;
    min-height: 60px;
    margin-top: -32px; 
    font-size:20px;
    margin-left: 7%; 
    
}

.btn-nav:hover {
    background-color: #8e2563;
}    

.bottom {
background:  #501c65;
padding: 10px;
margin-top: 1px;
}
main {
    box-sizing: border-box;
    width: 100%;
    height: 900px;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
    
}  

.container {
    background-color: #f6e6db ; 
    padding: 40px 20px;      
}
.logo{
    text-align: center;
    padding-top: 20px 

}

h2 {
    position: relative;
    color:  #8e2563; /* Diferent then in #OurProduct.css*/
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 25px; 
    font-style: normal;
    text-align: center;
    margin-top: 30px; /* Diferent then in #OurProduct.css*/
    margin-bottom: 30px;
}

.textlogo {
    position: relative;
    color: #501c65;
    font-family:  "Playfair Display", serif;
    font-size: 40px;
    text-align: center;
   
    
}
.container .box-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 40px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.container .box-container .box {
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 7px;
    background: linear-gradient(45deg,#d6c8dc, #d8b3a5  );
    /* background:#f6e6db; */
     /* background: #d6c8dc; */ 
     text-align: center;
     padding: 30px 20px;
    
}
.grid__element{
    overflow: hidden;
	position: relative;
}
.first{
    grid-column: 1/3;
    grid-row: 1/2;

}
.grid-block__text_first{
    grid-column: 3/5;
    grid-row: 1/2;
}
.second{
    grid-column: 1/3;
    grid-row: 2/3;

}
.grid-block__text_second{
    grid-column: 3/5;
    grid-row: 2/3;
}
.third{
    grid-column: 1/3;
    grid-row: 3/4;
}
.grid-block__text_third{
    grid-column: 3/5;
    grid-row: 3/4;
}
.pic{
    height: 100%;
	width: 100%;
	object-fit: cover;
    
}
.secondary-title{
    color: gray;
   
}
.grid-block__text{
  
    max-width: 570px;
    width: 70%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 20px;

}
.btn {
    margin-top: 20px;
    display: inline-block;
    background: #501c65;
    color: #d8b3a5;
    font-size: 17px;
    border-radius: 6px;
    padding: 10px 25px;
    text-decoration: none;
}

.btn:hover {
   letter-spacing: 1px;
   background-color: #8e2563;
   
}

.btn:hover {
  box-shadow: 0 10px 15px rgba(0,0,0,.2);
  transform: scale(1.03);
}