* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%; 
    height: 100%;
    background-color: whitesmoke;
    
}

header {
    position: relative;
    width: 100%;
    
}
.header-image{
    width: 100%;
    /*max-width: 2000px;*/
    height: 600px;
    background-image: url(../images/candles-contact.png);
    background-size: cover;
    background-position: center;
} 

.top {
    background:  #501c65;
    padding: 10px;
}    

.scroll-msg {
    color: bisque;
    font-family: "Dancing Script";
    font-style: italic;
    font-weight:bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-10%);
    animation: scroll 35s infinite linear;
}


@keyframes scroll {
    from {
        transform: translateX(50%);
    }
    to {
        transform: translateX(-20%);
    }
}

.navbar ul { 
    display: flex;  
    justify-content: space-between;
    list-style: none;  
    
} 
 
.navbar .menulist a {
    
    display: block;  
    text-transform:uppercase;
    font-family: "Montserrat", sans-serif; 
    text-decoration: none;
    font-weight: bold; 
    /* padding-top:38px;  */
    font-size: 1.2em;
    transition: .3s;
    color: rgb(18, 18, 145);
}   
.navbar .menulist li a:hover {
    color: #8e2563;
}

.navbar { 
    position: relative;
    max-width: 960px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items:center;
}
nav { 
    background:  #f6e6db;
    position: relative;
    padding: 35px 0;
    z-index: 10;
   
} 

.text-logo { 
    position: absolute;
    margin-top:3px;
    left: 34%; 
    text-decoration: none;
    font-family:  "Playfair Display", serif;
    color: #501c65; /* Diferent then in #OurProduct.css*/
    text-transform: uppercase;
    font-weight: 400;
    font-weight: bold;
    font-size: 48px;;   
}

nav ul {
    width: 100%;
    transition: .3s;
}
 
nav ul li:nth-child(2) {
    margin-left:40px; 
    margin-right: px;
} 

nav ul li:nth-child(3) {
     margin-left: 280px; 
} 


.text-logo:hover {
    color: #8e2563;
    cursor: pointer;
}
   
button {
    position:absolute;
    display: block;
    background-color: #501c65;
    color: #f6e6db;
    width: 140px;
    max-width: 100%;
    min-height: 60px;
    margin-top: -32px; 
    font-size:20px;
    margin-left: 7%; 
    
}

.btn-nav:hover {
    background-color: #8e2563;
}    

.bottom {
background:  #501c65;
padding: 10px;
margin-top: 1px;
}
main {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
    
}  

.container {
    max-width: 1200px;
    background-color: #f6e6db ; 
    padding: 40px 20px;
    margin: 0 auto;   
}
.logo{
    mix-blend-mode: multiply;
    width: 60px;
    height: 50px;
    margin-left:45% ;
    padding-top: 50px;
    
}

h2 {
    position: relative;
    color:  #8e2563; /* Diferent then in #OurProduct.css*/
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 25px; 
    font-style: normal;
    text-align: center;
    margin-top: 30px; /* Diferent then in #OurProduct.css*/
    margin-bottom: 30px;
}

.textlogo {
    position: relative;
    color: #501c65;
    font-family:  "Playfair Display", serif;
    font-size: 40px;
    text-align: center;
   
    
}
.container .box-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.container .box-container .box {
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 7px;
    background: linear-gradient(45deg,#d6c8dc, #d8b3a5  );
    /* background:#f6e6db; */
     /* background: #d6c8dc; */ 
     text-align: center;
     padding: 30px 20px;
    
}
.grid__element{
    overflow: hidden;
	position: relative;
}
.first{
    grid-column: 2/4;
    grid-row: 1/2;

}
.grid-block__text_first{
    grid-column: 4/6;
    grid-row: 1/2;
}
.second{
    grid-column: 2/4;
    grid-row: 2/3;

}
.grid-block__text_second{
    grid-column: 4/6;
    grid-row: 2/3;
}
.third{
    grid-column: 2/4;
    grid-row: 3/4;
}
.grid-block__text_third{
    grid-column: 4/6;
    grid-row: 3/4;
}
.pic{
    height: 100%;
	width: 100%;
	object-fit: cover;
    
}
.secondary-title{
    color: gray;
   
}
.grid-block__text{
  
    max-width: 570px;
    width: 70%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 20px;

}
.btn {
    margin-top: 20px;
    display: inline-block;
    background: #501c65;
    color: #d8b3a5;
    font-size: 17px;
    border-radius: 6px;
    padding: 10px 25px;
    text-decoration: none;
}

.btn:hover {
   letter-spacing: 1px;
   background-color: #8e2563;
   
}

.btn:hover {
  box-shadow: 0 10px 15px rgba(0,0,0,.2);
  transform: scale(1.03);
}
.container-flex{
    display: flex;
    justify-content: center;
   
    padding: 40px 20px;
}

.tile--with-detail {
    width: 100%;
    border: 1px solid #ccc;
}

.tile--with-detail img{
   width: 100%;
            height: 100%;
}

footer{
    width: 100%;
    min-height: 400px;
    margin: 0 auto;
    background: linear-gradient(
        to bottom,
        #501c65 0%,
        #501c65 85%,
        #fff3ea 85%,
        #fff3ea 100%
    );
}
.main-footer{
   /* width: 100%; 
    /*max-width: 2000px;*/
    min-height: 400px;
    margin: 0 auto;
    background: linear-gradient(
        to bottom,
        #501c65 0%,
        #501c65 90%,
        #fff3ea 90%,
        #fff3ea 100%
    );
    color: #fff3ea;
    padding: 10px;
    display: flex; 
    align-items: center;
    justify-content:space-around;
} 
.fnav{
    list-style-type: none;
    font-size: 30px;
    line-height: 2.5;
    margin-bottom: 40px;
    position: relative;
    bottom: 20px;
} 
.fnav>li>a{
    text-decoration: none;
    color: #fff3ea;
}
.footer-map{
    position: relative;
    bottom: 20px;
    font-weight: 450;
    font-size: 18px;
}
.fmap-img{
    width:250px; 
    height:150px;
    filter: grayscale(60%); 
    border: 2px solid  #fff3ea;
}
.fmap-img:hover{
    border: 3px solid #b05189;
}
.fmap-title{
    font-family:"Playfair Display", serif;
    font-size: 28px;
}
.footer-form{
    font-size: 18px;
    margin-right: 20px;
    position: relative;
    bottom:30px
    
}
.input-footer, .input-footer-n{
    font-size: 19px;
    border: 1px solid #8e2563;
    width: 100%;
    max-width: 220px;
    height: 41px;
    background-color: #fff3ea;
}
.input-footer-n{
    float: left;
    margin-top: 15px;
}
.input-footer:focus, .input-footer-n:focus{
    background-color:#f4e9f9;
    border: 1px solid #501c65;
    padding:2px;
}
.input-footer:hover, .input-footer-n:hover{
    border-color: #fff3ea;
}
.btn-news{
    border: 1px solid #8e2563 ;
    background-color: #621c65;
    height: 45px;
    width: 100px;
    font-weight:100;
    font-size: 17px;
    float: left;
    margin-top: 15px;
}
.newsletter-main{
    margin-bottom: 40px;
    
}
.login-main{
    margin-top: 20px;
    line-height: 3;
}
.btn-login{
    border: 1px solid #8e2563;
    background-color: #621c65;
    width: 100px;
    height: 50px;
    margin-top: 20px;
    margin-left: 50px;
}
.footer-envelope{
    height: 15px;
    width: 15px;
    fill: #fff3ea;
}

