* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 300vh;
    background-color: whitesmoke;
    
}

header {
    position: relative;
    width: 100%;
    
}

.top {
    background:  #501c65;
    padding: 10px;
}    

/*p {
    color: bisque;
    font-family: "Dancing Script";
    font-style: italic;
    font-weight:bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-10%);
    animation: scroll 35s infinite linear;
}


@keyframes scroll {
    from {
        transform: translateX(50%);
    }
    to {
        transform: translateX(-20%);
    }
}
*/
/*.menulist {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.menu-icon {
    /* border: 1px solid orange ; 
    margin-top: 15px;
    margin-right: 20px;
    padding: 25px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.nav-icon {
    background: orange;
    display: block;
    height: 4px;
    width: 20px;
    position: relative;
    transition: background .2s ease-out;
}
.menu-icon .nav-icon:before {
    background: orange;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2 ease-out;
     top: 8px; 
}

.menu-icon .nav-icon:after {
    background: orange;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2 ease-out;
    top: -7px;
}

.menu-btn {
    display: none;
}

.menu-btn:checked ~ .menulist {
    max-height: 240px;
}

*/


 ul { 
    display: flex; 
    margin-left: 20px;
    justify-content: space-evenly;
    list-style: none;  
    
} 
 
.menulist li a {
    /* position: relative; */
    /* display: block;  */
    display: inline-block;
    margin-left: 20px;
    padding-right: 20px;  
    text-transform:capitalize;
    font-family: "Montserrat", sans-serif; 
    text-decoration: none;
    font-weight: light; 
    padding-top:38px;
    font-size: 1.2em;
    transition: .3s;
}   
.menulist li a:hover {
    color: #8e2563;
}

 /*.navbar { 
    position: relative;
    width: 100%;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items:center;
}
*/ 
nav { 
    background:  #f6e6db;
    position: relative;
    width: 100%;
    height: 80px;
    min-height: 100px;
   
} 

/* .logo { 
    position: absolute;
    display: flex;
    justify-content:center;
    align-items:center; 
    mix-blend-mode: multiply;
    width: 40px; 
    height: 40px;
    margin-top: 15px;
    margin-left: 35px;
}
*/
 .logo { 
    position: absolute;
    top:12px;
    /* display: flex; 
    justify-content: flex-start;
    align-items: start;*/
    /* padding-left: 5px;  */
    
    
}


.labelname { 
    
    text-decoration: none;
    font-family:  "Playfair Display", serif;
    color: #f04b0a;
    text-transform: uppercase;
    font-weight: 400;
    font-weight: bold;
    font-size: 45px;
    margin-top: 20px;
    margin-left: 30px; 
    
}    

.labelname:hover {
    color: #8e2563;
    cursor: pointer;
}
   
button {
    background-color: #501c65;
    color: #f6e6db;
    width: 140px;
    max-width: 100%;
    min-height: 60px;
    margin-top: 18px;
    font-size:20px;
    margin-left: 40px;
    padding-left: 5px;
}

.btn-nav:hover {
    background-color: #8e2563;
}    

.bottom {
background:  #501c65;
padding: 10px;
margin-top: 15px;
}

main {
    box-sizing: border-box;
    width: 100%;
    height: 900px;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
    
}  

.container {
    background-color: #f6e6db ; 
    padding: 40px 20px;      
}

/*img .flower  {
    display: inline;
    width:20%;
    height:10%;
    mix-blend-mode: multiply;
    
}
*/
h2 {
    position: relative;
    color: #f04b0a;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 30px;
    font-style: normal;
    margin-left: 42%;
    margin-top: 60px;

}

h1 {
    color: #501c65;
    font-family:  "Playfair Display", serif;
    font-size: 40px;
    display: flex;
    margin-left: 25%;
    
}

.container .box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    

}

.container .box-container .box {
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 7px;
    background: linear-gradient(45deg,#d6c8dc, #d8b3a5  );
    /* background:#f6e6db; */
     /* background: #d6c8dc;  */
     text-align: center;
     padding: 30px 20px;
    
}

.container .box-container .box h5 {
      color: #f04b0a;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-style: normal;
      padding-top: 10px;
     
}
.container .box-container .box h3 {
      color: #501c65;
      font-size: 20px;
      padding: 10px;
      /* line-height: 1.8; */
}

.container .box-container .box p {
    color: #501c65;
    font-size: 15px;
    padding: 10px;
    line-height: 2; 
}