* {
    margin: 0;
    padding: 0;
}

body {
     /* width: 100%;   */
     /* max-width: 1440px;  */
    height: auto;
    background-color: white;   
}

header {
    position: relative;
    width: 100%;   
}

.top {
    /* width: 100%; */
    background:  #501c65;
    padding: 10px;
}    

.scroll-msg {
    color: bisque;
    font-family: "Dancing Script";
    font-style: italic;
    font-weight:bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-10%); 
    animation: scroll 35s infinite linear;
}


@keyframes scroll {
    from {
        transform: translateX(50%);
    }
    to {
        transform: translateX(-20%);
    }
}

.navbar ul { 
    display: flex;  
    justify-content: space-between;
    list-style: none;     
} 
 
.navbar .menulist a {
    display: block;  
    text-transform:uppercase;
    font-family: "Montserrat", sans-serif; 
    text-decoration: none;
    font-weight: bold; 
    font-size: 1.2em;
    transition: .3s;
    color: rgb(18, 18, 145);
   
}   
.navbar .menulist li a:hover {
    color: #8e2563;
}

.navbar { 
    position: relative;
    max-width: 960px; 
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items:center;
}
nav { 
    background:  #f1eee8;
    padding: 35px 0; 
    /* z-index: 10;  */
    /* position: relative; */
} 

.text-logo { 
    position: absolute; 
    margin-top:-28px;
    left: 34%; 
    text-decoration: none;
    font-family:  "Playfair Display", serif;
    color:#501c65;
    text-transform: uppercase;
    font-weight: 400;
    font-weight: bold;
    font-size: 48px;;   
}

nav ul {
    width: 100%;
    transition: .3s;
}
 
nav ul li:nth-child(2) {
    margin-left:40px; 
    margin-right: px;
} 

nav ul li:nth-child(3) {
     margin-left: 280px; 
} 


.text-logo:hover {
    color: #8e2563;
    cursor: pointer;
}
   
.btn-nav {
    position:absolute;
    display: block;
    width: 140px;
    max-width: 100%;
    min-height: 60px;
    margin-top: -32px; 
    font-size:20px;
    margin-left: 7%;     
} 

.fa-solid {
    margin-right: 10px;
    font-size: 34px;
}   

button {
    background-color: #501c65;
    color: #fff3ea;
    font-family: "Montserrat", sans-serif ;
    padding: 6px;
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
    background-color: #8e2563;
}

.btn-nav:hover {
    background-color: #8e2563;
}    

.bottom {
background:  #501c65;
padding: 10px;
margin-top: 1px;
}


.spa {
    width: 100%;
    margin: 0 auto;
    background-size:cover;  
    background-position: center;
}
main {
    box-sizing: border-box;
    width: 100%;  
    max-width: 1240px;   
    min-height: 900px;
    outline: none;
    border: none;
    text-decoration: none;
     /* margin: 0 auto;  */
    background-color: #f8f8f8;
    margin-left: 8%;
    /* display: flex;
    flex-direction: column;
    align-content: center; */
    /* transition: .2s linear; */
} 

.container-grid {
     width: 100%; 
    /* max-width: 1240px; */
    background-color:#f8f8f8 ;
    padding: 40px 20px;   
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    /* margin: 30px auto;    */    
}

.flogo {
    mix-blend-mode: multiply;
    width: 10%;
    height: 10%;
    display: flex;
   align-self: center;
   /* padding-top: 50px; */
   margin: 0 auto;
}

h2 {
    position: relative;
    color:  #501c65;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
    font-style: normal;
    display: flex;
    align-self: center;
    /* margin-left: 33%; */
    margin-top: 20px;
}

h1 {
    color: #8e2563;
    font-family:  "Playfair Display", serif;
    font-size: 30px;
    display: flex;
    align-self: center;
    /* margin-left: 27%;    */
}

.container-grid .box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 20px;      
}

.container-grid .box-container .box {
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 7px;
    background: linear-gradient(45deg,#d6c8dc,  #f1eee8  );
    text-align: center;
    padding: 30px 20px;
    transition: 1s;  
}

.box:hover {
    transform: scale(1.1);
    box-shadow: 2px, 2px, 2px #000;
    /* z-index: 2; */
    cursor: pointer;
}

.container-grid .box-container .box h5 {
      color: rgb(18, 18, 145);
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-style: normal;
      padding-top: 10px;    
}
.container-grid .box-container .box h3 {
      color: #501c65;
      font-size: 20px;
      padding: 10px;
      line-height: 1.8; 
}

.container-grid .box-container .box p {
    color: #501c65;
    font-size: 15px;
    padding: 10px;
    line-height: 2; 
}

.container-grid .box-container .box .btn {
       margin-top: 10px;
       display: inline-block;
       background: #501c65;
       color: #d8b3a5;
       font-size: 17px;
       border-radius: 6px;
       padding: 10px 25px;
       text-decoration: none;
}

.container-grid .box-container .box .btn:hover {
      letter-spacing: 1px;
      background-color: #8e2563;      
}

.container-grid .box-container .box .btn:hover {
     box-shadow: 0 10px 15px rgba(0,0,0,.2);
     transform: scale(1.03);
}

.footer {
    flex: 0 0 auto;
    padding: 30px 0;
    box-sizing: border-box;
}

.footer__container{
    max-width: 1240px;
    margin: 0px auto;
    padding: 30px 20px;
    background-color: #f8f8f8;
}
.footer__content {
    margin-bottom: 50px;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
}
.footer__content-left, 
.footer__content-right {
    padding: 30px 0;
    }
.footer__all-menu {
    column-count: 2;
}
.footer__menu {
    margin-bottom: 40px;
    break-inside: avoid-column;
    max-width: 250px;
    width: 100%;
}
.footer__menu-item {
    margin-bottom: 10px;
    list-style-type: none;
}
.footer__menu-title {
    margin-bottom: 27px;
    color: #501c65;
}
.footer__social-link, 
.footer__menu-link {
    color: #501c65;
    text-decoration: none;
}
.footer__social-link {
    font-size: 24px;
}
.footer:hover, .footer__social-link:hover {
    color: rgb(142, 37, 99);
} 
.footer_social-list {
    display: flex;
    gap: 15px;
    list-style-type: none;
} 
.footer__copyright {
    display: flex;
    justify-content: space-between;
}
.footer__copyright-list {
    display: flex;
    list-style-type: none;
    }
.footer__copyright-item + .footer__copyright-item{
    padding: 0 10px;
    border-right: 1px solid black;
}
.footer__copyright-link {
    color: black;
}
.footer_copyright-link:hover {
    text-decoration: underline;
}
.footer__content-right-title {
    margin-bottom: 15px;
}
.footer__content-right {
    margin-right: 16.66667%;
    margin-left: 8.33333%;
}
.footer__form {
    border: 1px solid #501c65;
} 
.footer__form-input {
        padding: 10px 0 10px 25px;
        height: 48px;
        border: none;
        width: 325px;
        box-sizing: border-box;
        background-color: #f1eee8;
}
.footer__form-btn {
        width: 120px;
        height: 48px;
        padding: 13px 0; 
        cursor: pointer;
        background-color: #501c65;
        color: #fff;
        border: none;
        float: right;
} /*
.footer__form-btn:hover {
    background-color: rgb(142, 37, 99);
}  */
.footer__find-us-map {
    margin-bottom: 50px;
    color: #501c65;
}
.footer__newsletter {
    margin-bottom: 50px;
    }
.footer__find-us-link {
    display: block;
}
.footer__lang-form {
    display: block;
    }
.footer__lang-select {
    border: 1px solid #501c65;
    background-color: #f1eee8;
    padding: 10px 0 10px 25px;
    height: 48px;
    width: 445px;
    width: 100%;
    cursor: pointer;
}
.find-us-title {
    margin-bottom: 10px;
}
.fa-trophy{
  font-size: 24px;
}

/* @media screen and (max-width:900px) {
    .top .navbar {
        width: 100%;
    }
    .navbar .logo-toggle-container {
        position: static;
        transform: translateX(0%);
    }
    .navbar .logo-toggle-container a {
        width: 80%;
    }
    .navbar .logo-toggle-container .toggle-box {
        /* position: absolute;
        right: 10px;
        top: 30px;
        display: block;
        width: 30px;
        background-color: #000;
        padding: 15px 9px;
        border-radius: 5px;
        margin-left: 20%;
    }
    .menulist ul li a {
         
    } */
    
